<div>
    <% if $name == '' || $name == nil %>
        What's your name?
        <form>
        <input type='text' name='name'>
        <input type='submit' value='Submit'>
        </form>
    <% else %>
        Welcome to Battleships <%= $name %>!
        <form action='/game'>
        <input type='submit' value='Start Game'>
        </form>
    <% end %>
</div>